{
   "trailingComma": "es5",
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,
   "tailwindConfig":"./tailwind.config.ts",
   "plugins": ["prettier-plugin-tailwindcss"],
   "tailwindAttributes": ["myClassList"]
}
