{
   "trailingComma": "es5",
   "tabWidth": 3,
   "semi": false,
   "singleQuote": true,

   "tailwindConfig": "./styles/tailwind.config.js",
   "plugins": ["prettier-plugin-tailwindcss"],
   "tailwindAttributes": ["myClassList"]
}
